.margin-row-none {
	margin: 0px !important;
}

select option {
	background: #FFFFFF;
}

.insideInput {
	text-align: center;
	border: none;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.table tbody tr:hover {
	background-color: #FFFFFF;
}
table{
	overflow: hidden; 
	table-layout: fixed !important; 
	word-break: break-all !important;
}
.container {
	overflow-x: auto;
	white-space: nowrap;
	height: auto !important;
}

tr th {
	height: 60px;
	vertical-align: middle !important;
}

#zfstatd {
	display: none;
}

#stringTab a{
	font-size: 10px !important;
}

.Alabel{
	display: none ;
	font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.cell_editor{
	margin-top: 50px !important;
}










