@CHARSET "UTF-8";

.text_underline {
	text-align: center;
	text-decoration: underline;
}

#print_div table {
	border-collapse: collapse;
	margin: auto;
}

#print_div  tr {
	/* 	border:1px solid #000; */
	
}

#print_div  th {
	vertical-align: middle;
	border: 1px solid #000;
	/* padding: 0px; */
	line-height: 1.42857143;
	font-weight: bold;
}

#print_div  td {
	text-align: center;
	border: 1px solid #000;
}

.inputText {
	border: 0;
	outline: none;
	width: 100%;
	text-align: center;
}

select {
	text-align: center;
	text-align-last: center;
	-webkit-appearance: none;
	border: 0;
}

.active {
	background-color: #e5e5e5;
}

#export_div table {
	border-collapse: collapse;
	margin: auto;
}

#export_div  tr {
	/* 	border:1px solid #000; */
	
}

#export_div  th {
	vertical-align: middle;
	border: 1px solid #000;
	/* padding: 0px; */
	line-height: 1.42857143;
	font-weight: bold;
}

#export_div  td {
	text-align: center;
	border: 1px solid #000;
}

#export_div {
	display:none;
}